<h1>New restaurant</h1>

<%= error_messages_for :restaurant %>

<% form_for(@restaurant) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Pricing</b><br />
    <%= f.select :pricing, Restaurant::PRICING_TYPES, :include_blank => true %>
  </p>

  <p>
    <b>Rating</b><br />
    <%= f.select :rating, Restaurant::RATING_TYPES, :include_blank => true %>
  </p>

  <p>
    <b>Food Type</b><br />
    <%= f.collection_select :food_type_id, FoodType::find(:all), :id, :name, :include_blank => true %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.collection_select :city_id, City::find(:all), :id, :name, :include_blank => true %>
  </p>

  <p>
    <b>Homepage</b><br />
    <%= f.text_field :homepage %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', restaurants_path %>
